@model LoginViewModel
<div class="login-page">
    <div class="half-width">
        <div class="login-background"></div>
    </div>
    <div class="half-width">
        <div class="login-form-card">
            <div class="login-form">

                <h1>Reset hasła</h1>

                <partial name="_ValidationSummary" />

                @if (Model.EnableLocalLogin)
                {

                    <div class="panel-login">
                        <div class="panel-body">

                            <form asp-route="GeneratePasswordReset">
                                <input type="hidden" asp-for="ReturnUrl" />

                                <fieldset>
                                    <div class="form-group">
                                        @*<label asp-for="Username"></label>*@
                                        <input class="form-control" placeholder="Login" asp-for="Username" autofocus>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" name="button" value="login">Zatwierdź</button>
                                        @*<button class="btn btn-default" name="button" value="cancel">Cancel</button>*@
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                }
                @if (Model.Errors != null && Model.Errors.Any())
                {
                    <div class="alert alert-danger">
                        @foreach (var error in Model.Errors)
                        {
                            <div class="danger">
                                @error
                            </div>
                        }
                    </div>
                }
                </div>
            </div>
    </div>
</div>