@model AuthorizationServer.Quickstart.Account.ResetPasswordInputModel
<div class="login-page">
    <div class="half-width">
        <div class="login-background"></div>
    </div>
    <div class="half-width">
        <div class="login-form-card">
            <div class="login-form">

                <h1>Reset hasła</h1>

                @if (Model.RequestModelWasInvalid)
                {
                    <partial name="_ValidationSummary" />
                }
                <div class="panel-login">
                    <div class="panel-body">

                        <form asp-route="ResetPassword">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <input type="hidden" asp-for="Username" />
                            <input type="hidden" asp-for="Token" />

                            <fieldset>
                                <div class="form-group">
                                    @*<label asp-for="Password"></label>*@
                                    <input type="password" class="form-control" placeholder="Hasło" asp-for="Password" autocomplete="off">

                                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="Password"></label>*@
                                    <input type="password" class="form-control" placeholder="Potwierdź Hasło" asp-for="PasswordConfirm" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="login">Zatwierdź</button>
                                    @*<button class="btn btn-default" name="button" value="cancel">Cancel</button>*@
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>