<mat-accordion>
  <mat-expansion-panel *ngFor="let item of formatedInfo; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="font-weight: 700">{{ getSubjectName(item.topic) }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ngx-charts-bar-vertical
      [results]="item.values"
      [view]="viewVBC"
      [animations]="animationsVBC"
      [legend]="legendVBC"
      [xAxis]="xAxisVBC"
      [showYAxisLabel]="showYAxisLabelVBC"
    ></ngx-charts-bar-vertical>
  </mat-expansion-panel>
</mat-accordion>
