/* You can add global styles to this file, and also import other style files */
body {
    --background: #f8f8f8;
    --tile: #ffffff;
    --tile2:rgb(212, 211, 211);
    --border: #dddddd;
    background-color: var(--background);
    font-family: "Segoe UI", Arial, sans-serif;
}

.menu{
    // background-color: #def;
    width: 20vw;
    padding-left: 10px;
}
.title{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--tile);
}
.entity{
    background-color: var(--tile);
    width: 94%;
    border: 2px solid var(--border);
    padding: 5px;
    margin-bottom: 5px;
    .title{
        justify-content: flex-start;
        font-weight: 500;
        border: 0px;
    }
}
.title2{
    font-size: 1.2rem
}
.entity:hover{
    background-color: var(--tile2);
}

.selectableMap{
    display: flex;
    margin-bottom: 1rem;
}
.mapStyleSelector{
    background-color: var(--tile);
    border: 2px solid var(--border);
}
.mapStyleSelector:hover{
    background-color: var(--background);
}

.custom-popup-content {
    opacity: 0.7;
    background-color: #333;
    color: white;
    padding: 10px; 
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.leaflet-popup-tip-container{
    display: none
}
.leaflet-popup-content-wrapper{
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.calculate{
    background-color: rgba(29, 136, 229, 1);
    color: white;
    font-size: 1rem;
    padding: 0.3rem;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.calculate:hover{
    background-color: rgb(25, 125, 212);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px !important;
    border-radius: 5px !important;
}
.mat-form-field-infix {
    padding: .5em 0;
    border-top: .5em solid transparent;
    width: 13rem;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: .25em 0 .25em 0;
}
.mat-form-field-wrapper {
    margin-left: 5rem;
}
.mat-select-value-text{
    padding: 5px;
}